@model KurumsalWebCoreMVC.UI.Models.CartListViewModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Sepet Detayı</h2>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Ürün Adı</th>
            <th>Ürün Fiyatı</th>
            <th>Stok Adeti</th>
            <th>Ürün Miktarı</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.Cart.CartLines)
    {
    <tr>
        <td>@item.Product.ProductName</td>
        <td>@item.Product.UnitPrice</td>
        <td>@item.Product.UnitsInStock</td>
        <td>@item.Quantity</td>
        <td class="text-right"><a class="btn btn-xs btn-danger" asp-controller="Cart" asp-action="Remove" asp-route-productId="@item.Product.ProductId"><span class="fas fa-minus-circle"></span> Ürünü Çıkar</a></td>
    </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <h3>Toplam</h3>
        </td>
        <td class="text-right">
            <h4>
                @Model.Cart.Total₺
            </h4>
        </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>
            <a asp-controller="Product" asp-action="Index" class="btn btn-xs btn-primary">
                <span class="fas fa-shopping-cart"></span>Alışverişe Devam Et
            </a>
        </td>
        <td class="text-right">
            <a asp-controller="Cart" asp-action="Complete" class="btn btn-xs btn-success">
                <span></span>Çıkışa Git
            </a>
        </td>
    </tr>
</table>

