@model KurumsalWebCoreMVC.UI.Models.CartListViewModel
@{
    ViewData["Title"] = "List";
}

<h2>Your Cart</h2>
<table class="table table-striped table-bordered ">
    <thead class="table-dark">
        <th>Product Name</th>
        <th>Unit Price</th>
        <th>Units In Stock</th>
        <th>Quantity</th>
        <th></th>
    </thead>
    @foreach (var item in Model.Cart.CartLines)
    {
        <tr>
            <td>@item.Product.ProductName</td>
            <td>@item.Product.UnitPrice</td>
            <td>@item.Product.UnitsInStock</td>
            <td>@item.Quantity</td>
            <td class="text-right"><a class="btn btn-xs btn-danger" asp-controller="Cart" asp-action="Remove" asp-route-productId="@item.Product.ProductId"><span class="glyphicon glyphicon-remove"></span> remove from cart</a></td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <h3>Total</h3>
        </td>
        <td class="text-right">
            <h3>
                <strong>@Model.Cart.Total</strong>
            </h3>
        </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>
            <a asp-controller="Product" asp-action="Index" class="btn btn-xs btn-default">
                <span class="fas fa-shopping-cart"></span> Alışverişe Devam Et
            </a>
        </td>
        <td class="text-right">
            <a asp-controller="Cart" asp-action="Complete" class="btn btn-xs btn-success">
                <span></span> Çıkışa Git
            </a>
        </td>
    </tr>
</table>

