<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link href="/modules/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/css/blog-home.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Admin/Index/">Kurumsal Mimari Admin Paneli</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Product" asp-action="Index">Ürünler</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kullanıcı
                        </a>
                        @await Component.InvokeAsync("UserSummary")
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container container contain-lg-5 contain-md-5 contain-sm-5 fluid">
        <div class="row">
            <div class="col lg-5 md-5 sm-5 mt-3">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-info" role="alert">@TempData["message"]</div>
                }
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright Kurumsal Mimari @DateTime.Now.Year</p>
        </div>
        <!-- /.container -->
    </footer>

    <script src="/modules/jquery/dist/core.js"></script>
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="/modules/jquery/dist/jquery.slim.js"></script>
    <script src="/modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
