<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>

    <link href="~/css/blog-home.css" rel="stylesheet" />
    <link href="/modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/modules/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Product/Index/">Kurumsal Mimari</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Login" class="nav-link">Admin Paneli</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sepetiniz
                        </a>
                        @await Component.InvokeAsync("CartSummary")
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-md-4">

                <div class="card my-4">
                    <div class="card-header">
                        <h5>Kategoriler</h5>
                    </div>
                    <div class="list-group">
                        @await Component.InvokeAsync("CategoryList")
                    </div>
                </div>

            </div>

            <div class="col-md-8 mt-5">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-info" role="alert">@TempData["message"]</div>
                }
                @RenderBody()
            </div>
        </div>
    </div>
    
    
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright Kurumsal Mimari @DateTime.Now.Year</p>
        </div>
        <!-- /.container -->
    </footer>


    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="/modules/jquery/dist/jquery.slim.js"></script>
    <script src="/modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
